//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

@objc protocol {{ module_info.name }}ViewOutput {

    /**
        @author {{ developer.name }}
        Notify presenter that view is ready
    */

    func viewIsReady()
}
