//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import ViperMcFlurry

protocol {{ module_info.name }}Input: class, RamblerViperModuleInput {
    func configureModule()
}
