//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation

class {{ module_info.name }}Presenter: NSObject {

    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}Input {

    func configureModule() {

    }
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {

    func viewIsReady() {
        self.view.setupInitialState()
    }
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput{


}
