//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import Foundation
import ViperMcFlurry

class {{ module_info.name }}Router: NSObject {

    fileprivate let storyboard = UIStoryboard(name: "Main", bundle: Bundle.main)
    fileprivate let segueIdentifier = ""

    weak var transitionHandler: RamblerViperModuleTransitionHandlerProtocol!

}

extension {{ module_info.name }}Router: {{ module_info.name }}RouterInput {

}
